*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    height: 80px;
    width: 100%;
    border-bottom: 20px;
    
}

label.logo{
    color: red;
    padding-left: 7%;
    font-size: 40px;
    line-height: 80px;
    font-weight: bolder;
}

ul{
    float: right;
    margin-right: 30px;
}

li{
    display: inline;
    line-height: 80px;
    margin: 0 5px;
    color: antiquewhite;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}
li a {
    color: white;
}
li a:hover
{
    color: #b2b2c3;
}
body{
    background: rgba(0, 0, 0, 0.6) url('image/mt15.avif');
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
    margin: 0;
}

.book{
    font-size: 100px;
    color: antiquewhite;
    position:relative;
    margin-top: 8%;
    text-align: left;
    left: 18%;
}

.book2{
    margin-top: 10px;
    font-size: 100px;
    color: antiquewhite;
    position: relative;
    text-align: left;
    left: 26%;
}

.book3{
    text-align: center;
    color: whitesmoke;
    margin-top:25px;
    font-size: 20px;
}

.book4{
    background-color: #04aa9f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding-right: 30px;
    margin-left: 700px;
}

.book5{
    font-size: 50px;
    margin: 100px;
    text-align: center;
    color: antiquewhite;
}

h2 {
    text-decoration: underline;
  }
  
h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

a{
    text-decoration: none;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.content{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    background: #f2f2f2;
}

.content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}

.content img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.content p{
    text-align: center;
    color: #b2b2c3;
    padding-top: 0 80px;
}

.content button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px ;
    border-bottom-left-radius: 20px;
}

.buy-1{
    background: #2183a2;
}

.home{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
    padding-right: 45%;
}

.home1{
    margin-top: 25%;
    color:antiquewhite;
    font-size:35px;
    padding-left: 100px;
    font-family:  sans-serif;
}

.phone img{
   float: left;
   border-radius: 30%;
   margin-top: 95px;
  margin-left: 47px;

}

.phone p{
    float: left;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    margin-top: 12%;
    position: absolute;
   
    

}


.book5 h2{
    
    margin-bottom: 10px;
    
}
.phone1 img{
    float: center;
    border-radius: 30%;
    margin-right: 8%;
 }
 .phone1 p{
    float: center;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    margin-left: 40%
}

.navbar-header{
    margin-top: 30px;
    margin-left: 80px;
    float: left;
    font-size: 50px;
    color: red;
}

.face{
    float: right;
    margin-right: 150px;
}
